body {
    background-color: black;
  }

@font-face {
    font-family: 'Monsterrat';
    src: url('./fonts/monsterrat/Montserrat-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;

}

h1 {
    color: white;
    text-align: center;
    font-size: 8.0vh;
    font-family: 'Monsterrat';
  }

p {
    color: white;
    text-align: center;
    font-size: 4.0vh;
    font-family: 'Monsterrat';
}

.container {  
    width: 100%;  
    display: flex;  
    justify-content: center;  
    align-items: center;  
}

.control-button {
    background-color: gray;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Monsterrat';
    transition: 0.3s;
}

.control-button:hover {
  background-color: white;
}